.productSection__sizeChart {
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 27px 35px 0px rgba(0, 0, 0, 0.25);
  height: 36.9375rem;
  padding: 2.9375rem;
  position: absolute;
  width: 53.8125rem; }
  @media screen and (max-width: 1360px) {
    .productSection__sizeChart {
      height: 21.875rem;
      padding: 1.875rem 1.0625rem;
      width: 40rem; } }
  @media screen and (max-width: 768px) {
    .productSection__sizeChart {
      height: 28.25rem;
      padding: 3.125rem 1.25rem;
      width: 20.9375rem; } }
  @media screen and (max-width: 1360px) {
    .productSection__sizeChart .productSection__sizeChartHeader .icon-shirt {
      width: 3.125rem;
      height: 3.125rem; } }
  .productSection__sizeChart .productSection__sizeChartHeader .productSection__sizeChartTitle {
    margin-top: 2.1875rem; }
    @media screen and (max-width: 1360px) {
      .productSection__sizeChart .productSection__sizeChartHeader .productSection__sizeChartTitle {
        margin-top: 0.9375rem;
        font-size: 1.5625rem; } }
    @media screen and (max-width: 1000px) {
      .productSection__sizeChart .productSection__sizeChartHeader .productSection__sizeChartTitle {
        margin-top: 1.875rem; } }
  .productSection__sizeChart .productSection__sizeChartContent {
    display: flex;
    flex-direction: column;
    margin: 2.8125rem 0; }
    @media screen and (max-width: 1360px) {
      .productSection__sizeChart .productSection__sizeChartContent {
        margin: 0.9375rem 0; } }
    @media screen and (max-width: 768px) {
      .productSection__sizeChart .productSection__sizeChartContent {
        margin: 2.8125rem 0 1.25rem;
        padding-bottom: 1.25rem;
        overflow: scroll;
        width: 100%; }
        .productSection__sizeChart .productSection__sizeChartContent::-webkit-scrollbar {
          background-color: #f8f8f8;
          border-radius: 52px;
          height: 0.25rem;
          margin-top: 1.25rem;
          width: 0; }
        .productSection__sizeChart .productSection__sizeChartContent::-webkit-scrollbar-thumb {
          background: #ed1d24;
          border-radius: 52px; } }
    .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow {
      display: flex;
      gap: 3.125rem;
      border-top: 1px solid rgba(0, 0, 0, 0.55);
      padding: 1.25rem 0;
      text-transform: capitalize; }
      @media screen and (max-width: 1360px) {
        .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow {
          gap: 0.9375rem;
          padding: 0.625rem 0; } }
      @media screen and (max-width: 768px) {
        .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow {
          border: none;
          padding: 0; }
          .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow:first-of-type .productSection__sizeChartRowContent {
            border: none; } }
      .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow .productSection__sizeChartRowTitle {
        font-family: "Manrope-ExtraBold";
        width: 15%; }
        @media screen and (max-width: 1360px) {
          .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow .productSection__sizeChartRowTitle {
            width: 20%; } }
        @media screen and (max-width: 768px) {
          .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow .productSection__sizeChartRowTitle {
            background: #ffffff;
            font-size: 0.875rem;
            position: fixed;
            width: 6.25rem;
            z-index: 1;
            padding: 0.625rem 0;
            border-top: 1px solid rgba(0, 0, 0, 0.55); } }
      .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow .productSection__sizeChartRowContent {
        display: flex;
        justify-content: space-between;
        width: 75%; }
        @media screen and (max-width: 768px) {
          .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow .productSection__sizeChartRowContent {
            align-items: center;
            border-top: 1px solid rgba(0, 0, 0, 0.55);
            gap: 0.9375rem;
            left: 6.875rem;
            margin-left: -0.625rem;
            min-width: 20.9375rem;
            padding: 0.625rem;
            position: relative;
            right: 0;
            width: 110%; } }
        .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow .productSection__sizeChartRowContent .productSection__sizeChartItem {
          font-family: "Manrope-SemiBold";
          color: rgba(0, 0, 0, 0.5); }
      .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow:first-of-type {
        border-top: none; }
        .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow:first-of-type .productSection__sizeChartRowTitle:first-child {
          color: rgba(0, 0, 0, 0.5);
          font-weight: 600; }
          @media screen and (max-width: 768px) {
            .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow:first-of-type .productSection__sizeChartRowTitle:first-child {
              border: none; } }
        .productSection__sizeChart .productSection__sizeChartContent .productSection__sizeChartContentRow:first-of-type .productSection__sizeChartItem {
          font-family: "Manrope-ExtraBold";
          color: #000;
          min-width: 2.5625rem;
          text-align: center; }
  .productSection__sizeChart .textBanner__closeIcon {
    cursor: pointer;
    height: 4.5625rem;
    position: absolute;
    right: -1.5625rem;
    top: -1.5625rem;
    width: 4.5625rem; }
    @media screen and (max-width: 768px) {
      .productSection__sizeChart .textBanner__closeIcon {
        height: 2.625rem;
        right: -0.9375rem;
        top: -0.9375rem;
        width: 2.625rem; } }

.sizeChart__overlay--active {
  align-items: center;
  background-color: rgba(232, 232, 232, 0.9);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  pointer-events: all;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 3; }

